In [2]:
from plotnine import *
from dfply import *
import numpy as np
import pandas as pd

In [3]:
x=pd.DataFrame([1,2,2,3,4,4,5,5],columns=["안녕"])

In [4]:
x>> summarise(hi_ndistinct=n_distinct(x.안녕))

   hi_ndistinct
0             5

In [7]:
x

   안녕
0   1
1   2
2   2
3   3
4   4
5   4
6   5
7   5